<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maison de Mode</title>
    <link rel="stylesheet" href="../css/styleaccesorios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <h1>Maison de Mode </h1>
        <h2>(Accesorios)</h2>
        <nav>
            <ul>
                <li><a href="../../Index.html">Inicio</a></li>
                <li><a href="../views/Hombres.html">Hombres</a></li>
                <li><a href="../views/Mujeres.html">Mujeres</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="../views/Contacto.html">Acerca de Nosotros</a></li>
            </ul>
        </nav>
    </header> 
    
    <section class="productos">
        <div class="producto">
            <a href="detalle-producto2.html">
                <img src="../img/i.jfif" alt="Producto 2">
            </a>
        </div>
        <div class="producto">
            <a href="detalle-producto3.html">
                <img src="../img/j.jfif" alt= "producto 3">
            </a>
        </div>
        <div class="producto">
            <a href="detalle-producto4.html">
                <img src="../img/k.jfif" alt="Producto 4">
            </a>
        </div>
    </section>

    <main>
        <section id="categoria-mujeres">
            <h2>Ropa para Mujeres</h2>
            <div class="producto">
                <img src="../img/i.jfif" alt="">
                <h3>Aretes grandes diamante blanco</h3>
                <p>$900.99</p>
            </div>
            <div class="producto">
                <img src="../img/j.jfif" alt="">
                <h3>Anillos platinados</h3>
                <p>$290.99</p>
            </div>
            <div class="producto">
                <img src="../img/k.jfif" alt="">
                <h3>Pulseras platinadas</h3>
                <p>$540.99</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tienda de Ropa Maison de Mode. Síguenos en <a href="#">Facebook</a>, <a href="#">Instagram</a>.</p>
    </footer>
</body>
</html>
