<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos - Maison de Mode</title>
    <link rel="stylesheet" href="../css/stylecontacto.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
     <h1>Contáctanos</h1>
    <h2>
        Estimado/a cliente: <br><br>
        En Maison de Mode, valoramos profundamente la relación que construimos con cada uno de nuestros clientes. Nuestro objetivo es no solo ofrecer productos de la más alta calidad, sino también asegurar que cada experiencia con nuestra marca sea excepcional.
        <br><br>
        Entendemos que, en ocasiones, pueden surgir inquietudes, preguntas o comentarios sobre los productos y servicios que ofrecemos. Por ello, queremos invitarle a que nos contacte con toda confianza para cualquier consulta que pueda tener. Estamos aquí para brindarle el apoyo necesario y resolver cualquier inconveniente de manera rápida y eficiente. Su satisfacción es nuestra prioridad, y nos comprometemos a trabajar incansablemente para garantizar que cada interacción con nuestra empresa sea satisfactoria.
        <br><br>
        Además, valoramos enormemente su opinión sobre nuestra página web, productos y servicios. Ya sea que tenga alguna sugerencia, comentario positivo, o si alguna vez siente que no hemos cumplido con sus expectativas, nos gustaría escucharlo. Las opiniones de nuestros clientes son esenciales para ayudarnos a mejorar y evolucionar. No dude en dejarnos un mensaje si desea compartir su experiencia, ya sea que haya quedado encantado o si cree que hay aspectos que debemos mejorar.
        <br><br>
        Puede ponerse en contacto con nosotros a través de nuestro formulario en la página web, enviándonos un correo electrónico, o llamándonos directamente. Estamos aquí para atenderle y agradeceremos sinceramente cualquier aporte que desee hacer.
        <br><br>
        Esperamos continuar siendo su elección de confianza para sus necesidades de moda, y quedamos a su entera disposición para cualquier asistencia que necesite.
        <br><br>
        Atentamente, <br>
        El equipo de Maison de Mode
    </h2>

    <section id="contacto">
        <h2>Contáctanos</h2>
        <form action="procesar-formulario.php" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
      
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
      
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
      
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>
