<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ropa para Hombres - Tienda de Ropa XYZ</title>
    <link rel="stylesheet" href="../css/stylehombres.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header >
        <h1>Ropa para Hombres</h1>
        <nav>
            <ul>
                <li><a href="../../Index.html">Inicio</a></li>
                <li><a href="../views/Hombres.html">Hombres</a></li>
                <li><a href="../views/Mujeres.html">Mujeres</a></li>
                <li><a href="../views/Accesorios.html">Accesorios</a></li>
                <li><a href="../views/Contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
     
    <section class="productos">
        <div class="producto">
            <a href="detalle-producto1.html">
                <img src="../img/c.jfif" alt="Producto 1">
            </a>
        </div>
        <div class="producto">
            <a href="detalle-producto2.html">
                <img src="../img/d.jfif" alt="Producto 2">
            </a>
        </div>
        <div class="producto">
            <a href="detalle-producto3.html">
                <img src="../img/e.jfif" alt= "producto 3">
            </a>
    </section>
    
    <main>
        <section id="categoria-hombres">
            <h2>Ropa para Hombres</h2>
            <div class="producto">
                <img src="../img/c.jfif" alt="Pijama old-black satin">
                <h3>Pijama old-black satin</h3>
                <p>$24.99</p>
            </div>
            <div class="producto">
                <img src="../img/d.jfif" alt="">
                <h3>Pantalones negros poliester</h3>
                <p>$44.99</p>
            </div>
            </div>
            <div class="producto">
                <img src="../img/e.jfif" alt="">
                <h3>Camiseta satin</h3>
                <p>$69.99</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Tienda de Ropa Maison de Mode. Síguenos en <a href="#">Facebook</a>, <a href="#">Instagram</a>.</p>
    </footer>
</body>
</html>
